.custom-table {
  .ngx-datatable-header {
    background-color: #f1f1f1;
    font-weight: bold;
    text-align: center;
  }

  .ngx-datatable-cell {
    text-align: center;
  }

  .mgx-header {
    text-align: center;
    font-weight: bold;
    color: #f1f1f1;
    top:70%
  }
}
