<div class="d-flex justify-content-between align-items-center mb-2">
  <div>
    <label for="perPageSelect" class="me-2">Show</label>
    <select id="perPageSelect" class="form-select me-2" style="width: auto; display: inline-block;" (change)="updatePerPage($event)">
      <option *ngFor="let option of perPageOptions" [value]="option" [selected]="option === page.perPage">{{ option }}</option>
    </select>
    <label for="perPageSelect" class="me-2">entries</label>
  </div>
  <!-- <div>
    <span>Page {{ page.page }} of {{ getTotalPages() }}</span>
  </div> -->
</div>
<ngx-datatable
  class="bootstrap custom-table"
  [rows]="rows"
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [scrollbarH]="true"
  [limit]="page.perPage"
  [count]="page.total"
  [offset]="page.page - 1"
  [externalPaging]="true"
  (page)="setPage($event)"
  >

  <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop" [sortable] ="false">
    <ng-template ngx-datatable-header-template let-column="column">
      <div class="mgx-header">{{ column.name }}</div>
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value">
      <div class="text-center">{{ value }}</div>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
