.custom-table {
  .ngx-datatable-header {
    background-color: #f1f1f1;
    font-weight: bold;
    text-align: center;
  }

  .ngx-datatable-cell {
    text-align: center;
  }

  .mgx-header {
    text-align: center;
    font-weight: bold;
    color: #f1f1f1;
    top:70%
  }

}

.search-patient-title {
  color: #00b5e9;
  position: absolute;
  top: 0;
  left: 73px;
  transform: translate(-50%, -50%);
  background: white;
  padding: 0 10px;
  font-size: 16px;
  font: 400 1rem / 19px "Poppins", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  background: #fff;
  position: absolute;
  padding: 0 15px;
  color: #00b5e9;
}

.plus-btn {
  top: 10px;
  right: 15px;
}

.form-content {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.mat-date-picker-custom input {
  width: 100%;
}

button.btn-primary,
button.btn-default {
  min-width: 110px;
}
.clickable-text {
  color: #2e7d32;
  cursor: pointer;
  text-align: center;
  // text-decoration: underline;
}
