<div class="header-container">
  <div class="image-container">
    <img src="assets/images/logo/logo.svg" alt="Logo" class="dash-logo">
  </div>
  <div class="action-container">
    <div class="d-inline-block me-4 user-name">
      <img src="assets/images/user.png" class="profile-img me-2" alt="Profile Picture">
      <span class="profile-name">{{ userName }}</span>
    </div>
    <span class="bi bi-envelope-fill user-name me-4"></span>
    <span class="bi bi-bell-fill user-name me-4"></span>
    <span class="bi bi-power user-name me-4" (click)="logout()"></span>

  </div>
</div>
