:host {
  display: block;
  width: 100%;
}

.header-container {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .bi {
    font-size: 20px; // Increase size
    font-weight: bold; // Increase thickness
    cursor: pointer; // Show pointer on hover
    transition: transform 0.2s ease-in-out; // Add animation
  }

  // **Optional: Add hover effect**
  .bi:hover {
    transform: scale(1.2);
    color: white;
  }
}

.image-container {
  width: 11%;
  height: 100%;
  padding: 5px 15px 0 15px;
}

.action-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

.dash-logo {
  height: auto;
  width: 95px;
}

.user-name {
  font-size: 14px;
  color: #333;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
