/* General navbar styles */
.navbar {
  background-color: #4b4b4b; /* Dark gray */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // padding: 0.5rem 1rem;
  height: 35px;
}

/* Logo Styling */
.navbar-brand img {
  max-height: 40px;
}

/* Navbar links */
.nav-link {
  color: white !important;
  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

/* Dropdown menu */
.dropdown-menu {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-top: 2px solid #05a853;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 220px;
  color: white;
}

.dropdown-item {
  color: #8a8686;
  font-size: 12px;
  padding: 5px 15px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

/* Right-side icons */
.navbar-nav.ms-auto .nav-link {
  padding: 5px 10px;
}

/* Admin profile dropdown */
.navbar-nav .dropdown-menu-end {
  right: 0;
  left: auto;
}

/* Admin icon */
.navbar-nav .bi-person-circle {
  font-size: 20px;
  margin-right: 5px;
}

/* Notifications icon */
.navbar-nav .bi-bell {
  font-size: 18px;
  color: white;
}

.custom-divider {
  height: 1px;
  width: 90%;
  background-color: #ddd; /* Light gray */
  margin: 5px auto; /* Center align */
}

/* Responsive styles */
@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }

  .dropdown-menu {
    text-align: left;
  }
}


@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  .navbar-collapse {
    background: #4b4b4b;
    padding: 10px;
  }
  .navbar-nav .nav-item {
    text-align: left;
  }
  .dropdown-menu {
    width: 100%;
  }
}
