<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <!-- Toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    style="font-size: 15px; padding: 0%;"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- Patients Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle me-3" [routerLink]="['/patients/list']" id="patientsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-fill me-2"></i> Patients
          </a>
          <ul class="dropdown-menu" aria-labelledby="patientsDropdown">
            <li><a class="dropdown-item" [routerLink]="['/patients/list']">Patient List</a></li>
            <li><div class="custom-divider"></div></li>
            <li><a class="dropdown-item" [routerLink]="['/patients/add']">Add New Patient</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link me-3" href="#">
            <i class="bi bi-journal-richtext me-2"></i> Scheduler
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2" href="#">
            <i class="bi bi-menu-button-wide-fill me-2"></i> Tasks
          </a>
        </li>

        <!-- Billing Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle me-3" href="#" id="billingDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-journal-richtext me-2"></i> Billing
          </a>
          <ul class="dropdown-menu" aria-labelledby="billingDropdown">
            <li><a class="dropdown-item" href="#">Invoices</a></li>
            <li><div class="custom-divider"></div></li>
            <li><a class="dropdown-item" href="#">Payments</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link me-3" href="#">
            <i class="bi bi-list-ul me-2"></i> Master
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link me-3" href="#">
            <i class="bi bi-list-ul me-2"></i> Reports
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link me-3" href="#">
            <i class="bi bi-list-ul me-2"></i> Inventory
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
